{% extends "products_base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block extra_head %}

{% endblock extra_head %}

{% block body_container_content %}

<!--
    <div class="tabs">
        <ul class="nav nav-tabs" role="tablist">
        <li><a href="#table-tab">View Products</a> </li>
        <li><a href="#form-tab">Add Product</a></li>
        </ul>

        <div class="panel-body tab-content">
            <div id="table-tab" class="tab-pane">
        -->

 <div class="wrapper wrapper-blue">


 </div>






{% endblock body_container_content %}

{% block page_scripts %}

{% endblock page_scripts %}