{% extends "site_base.html" %}

{% load i18n %}
{% load customer_tags %}

{% block head_title %}Products{% endblock %}

{% block body_class %}home{% endblock %}

{% block page_breadcrumbs %}
    <li>products</li>
    {% block subpage_breadcrumbs %}
    {% endblock %}
{% endblock %}

        {% block body_container_page-title %}
            <!--main title-->
            <h1>Products</h1>
            <!--subtitle/tag-->

        {% endblock %}
        {% block body_container_content %}
                <p style="text-align: center">Hello!</p>
        {% endblock %}


