{% extends "products_base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block extra_head %}

{% endblock extra_head %}

{% block body_container_content %}
    <div class="wrapper wrapper-white">
    <div class="table-responsive">
    <table class="table table-sortable table-striped" id="id_product_data">
        <thead>
            <th>Name</th>
            <th>Category</th>
        </thead>
        {% for product in product_list %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    </div>

{% endblock body_container_content %}

{% block page_scripts %}

{% endblock page_scripts %}