{% load account_tags %}
{% load i18n %}
<!-- page header -->
            <div class="dev-page-header">

                <div class="dph-logo">
                    <a href="{% url 'home' %}">{{ com }}</a>
                    <a class="dev-page-sidebar-collapse">
                        <div class="dev-page-sidebar-collapse-icon">
                            <span class="line-one"></span>
                            <span class="line-two"></span>
                            <span class="line-three"></span>
                        </div>
                    </a>
                </div>

                <ul class="dph-buttons pull-right">
                    {% if request.user.is_authenticated %}
                        <li class="dph-user-text">
                            <i class="fa fa-user"></i> {% user_display request.user %}
                        </li>
                        <li >
                            <a href="{% url 'account_settings' %}"><i class="fa fa-cog"></i> {% trans "Account" %}</a>
                        </li>

                        {% if request.user.is_superuser %}
                            <li>
                                <a href="admin"><i class="fa fa-cogs"></i> {% trans "Administration" %}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>

                <ul class="dev-page-navigation">
                    <li>
                        <a href={% url 'home' %}>Dashboard</a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            <li>
                                <a href="#">Email</a>
                                <ul>
                                    <li><a href="pages-email-inbox.html">Inbox</a></li>
                                    <li><a href="pages-email-compose.html">Compose</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Login Forms</a>
                                <ul>
                                    <li><a href="pages-login.html" target="_blank">Login</a></li>
                                    <li><a href="pages-login-lite.html" target="_blank">Login Lite</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Registration Forms</a>
                                <ul>
                                    <li><a href="pages-registration.html" target="_blank">Registration</a></li>
                                    <li><a href="pages-registration-lite.html" target="_blank">Registration Lite</a></li>
                                </ul>
                            </li>
                            <li><a href="pages-lock-screen.html">Lock Screen</a></li>
                            <li><a href="pages-session-timeout.html">Session Timeout</a></li>
                            <li><a href="pages-edit-profile.html">Edit Profile</a></li>
                            <li><a href="pages-profile.html">Profile</a></li>
                            <li><a href="pages-faq.html">FAQ</a></li>
                            <li><a href="pages-gallery.html">Gallery</a></li>
                            <li><a href="pages-tocify.html">Tocify</a></li>
                            <li><a href="pages-invoice.html">Invoice</a></li>
                            <li><a href="pages-error-404.html">Error 404</a></li>
                            <li><a href="pages-contacts.html">Contacts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Layouts</a>
                        <ul>
                            <li><a href="layout-boxed.html">Boxed</a></li>
                            <li><a href="layout-no-footer.html">No Footer</a></li>
                            <li><a href="layout-fixed-footer.html">Fixed Footer</a></li>
                            <li><a href="layout-footer-collapsed.html">Footer Collapsed</a></li>
                            <li><a href="layout-nav-minimized.html">Minimized Navigation</a></li>
                            <li><a href="layout-nav-collapsed.html">Collapsed Navigation</a></li>
                            <li><a href="layout-nav-right.html">Navigation Right</a></li>
                            <li><a href="layout-nav-horizontal.html">Horizontal Navigation</a></li>
                            <li><a href="layout-tabbed.html">Tabbed Content</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="features.html">Features List</a>
                    </li>
                    <li>
                        <a href="#">UI Kits</a>
                        <ul>
                            <li><a href="ui-elements.html">UI Elements</a></li>
                            <li><a href="ui-widgets.html">Widgets <span class="label label-danger">New</span></a></li>
                            <li><a href="ui-buttons.html">Buttons</a></li>
                            <li><a href="ui-modals.html">Modals & Popups</a></li>
                            <li><a href="ui-panels.html">Panels</a></li>
                            <li><a href="ui-typography.html">Typography</a></li>
                            <li><a href="ui-icons.html">Icons</a></li>
                            <li><a href="ui-tour.html">Tour</a></li>
                            <li><a href="ui-slide-menu.html">Sliding Menu</a></li>
                            <li><a href="ui-sliders.html">Sliders</a></li>
                            <li><a href="ui-nestable.html">Nestable List</a></li>
                            <li><a href="ui-tree-view.html">Tree View</a></li>
                            <li><a href="ui-language.html">Change Language</a></li>
                            <li>
                                <a href="#">Timeline</a>
                                <ul>
                                    <li><a href="ui-timeline-simple.html">Simple Timeline</a></li>
                                    <li><a href="ui-timeline.html">Timeline</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Forms</a>
                        <ul>
                            <li><a href="form-elements.html">Form Elements</a></li>
                            <li><a href="form-layouts.html">Form Layouts</a></li>
                            <li><a href="form-wizard.html">Form Wizard</a></li>
                            <li><a href="form-validation.html">Form Validation & Helpers</a></li>
                            <li><a href="form-editors.html">WYSIWYG Editors</a></li>
                            <li><a href="form-file-handling.html">File handling <span class="label label-danger">New</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="charts.html">Charts</a>
                    </li>
                    <li>
                        <a href="maps.html">Maps</a>
                    </li>
                    <li>
                        <a href="#">Tables</a>
                        <ul>
                            <li><a href="tables-static.html">Static Tables</a></li>
                            <li><a href="tables-sortable.html">Sortable Tables</a></li>
                            <li><a href="tables-other.html">Other Features</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Multi-Level Navigation</a>
                        <ul>
                            <li><a href="#">Second Level</a></li>
                            <li>
                                <a href="#">Second Level</a>
                                <ul>
                                    <li><a href="#">Third Level</a></li>
                                    <li><a href="#">Third Level</a></li>
                                    <li><a href="#">Third Level</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Second Level</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
<!-- ./page header -->