{% extends "site_base.html" %}

{% load i18n %}
{% load customer_tags %}

{% block head_title %}Home{% endblock %}

{% block body_class %}home{% endblock %}

{% block page_breadcrumbs %}
    <li>dashboard</li>
{% endblock %}

        {% block body_container_page-title %}
            <!--main title-->
            <h1>Main Dashboard</h1>
            <!--subtitle/tag-->
            <p>Please select a utility from above.</p>
        {% endblock %}
        {% block body_container_content %}
                <p style="text-align: center">Dashboard here</p>
        {% endblock %}
