{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap %}
{% load customer_tags %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block body_base_extend %}
    <div class="dev-page dev-page-login dev-page-login-v2">

            <div class="dev-page-login-block">
                <a class="dev-page-login-block__logo">{% company_name %} | {% product_name %}</a>
                <div class="dev-page-login-block__form">
                    <div class="title"><strong>Welcome</strong>, please login</div>
                    <form method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input id="id_username" name="username" type="text" class="form-control" placeholder="Login">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input id="id_password" name="password" type="password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="form-group no-border margin-top-20">
                            <button class="btn btn-success btn-block">Login</button>
                        </div>
                        <p><a href="#">Forgot Password?</a></p>
                    </form>
                </div>
                <div class="dev-page-login-block__footer">
                    © 2015 <strong>Aqvatarius</strong>. All rights reserved.
                </div>
            </div>

        </div>
        <!-- ./page wrapper -->


    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
