<ul class="dev-page-navigation">
    <li>
        <a href={% url 'home' %}>Dashboard</a>
    </li>
    <li>
        <a href="#">Pages</a>
        <ul>
            <li>
                <a href="#">Email</a>
                <ul>
                    <li><a href="pages-email-inbox.html">Inbox</a></li>
                    <li><a href="pages-email-compose.html">Compose</a></li>
                </ul>
            </li>

        </ul>
    </li>
    <li>
        <a href="#">Multi-Level Navigation</a>
        <ul>
            <li><a href="#">Second Level</a></li>
            <li>
                <a href="#">Second Level</a>
                <ul>
                    <li><a href="#">Third Level</a></li>
                    <li><a href="#">Third Level</a></li>
                    <li><a href="#">Third Level</a></li>
                </ul>
            </li>
            <li><a href="#">Second Level</a></li>
        </ul>
    </li>
</ul>