{% extends "base.html" %}

{% load staticfiles %}
{% load pinax_webanalytics_tags %}
{% load i18n %}
{% load customer_tags %}



{% block head_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/horizontal-blue-white.css" %}" id="dev-css">
    <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}" id="custom-css">

{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block body_base_inner %}
    <!-- page wrapper -->
        <div class="dev-page">

            {% block body_header %}
                {% include "clearwave/header.html" %}
            {% endblock body_header %}


            <!-- page container -->
            <div class="dev-page-container">

                {% block body_nav %}
                <!-- page sidebar -->

                {% endblock body_nav %}

            {% block body_container %}
                <!-- page content -->
                <div class="dev-page-content">
                    <!-- page content container -->
                    <div class="container">

                        <!-- page title -->
                        {% block body_container_outer_page-title %}
                        <div class="page-title">
                            {% block body_container_page-title %}
                            <h1>Title</h1>
                            <p>Subtitle</p>
                            {% endblock body_container_page-title %}

                        {% block breadcrumbs_container %}
                            <div class="dev-page-breadcrumbs">
                            <ul class="breadcrumb">
                                <li class="tld-breadcrumb-li">clearwave</li>
                                {% block page_breadcrumbs %}
                                {% endblock %}
                            </ul>
                            </div>
                        {% endblock breadcrumbs_container %}
                        </div>
                        {% endblock %}
                        <!-- ./page title -->
                        {% block body_container_content %}

                        {% endblock body_container_content %}

                        <!-- Copyright -->
                        {% block body_copyright %}
                            {% include "clearwave/copyright.html" %}
                        {% endblock body_copyright %}
                        <!-- ./Copyright -->
                    </div>
                    <!-- ./page content container -->

                </div>
                <!-- ./page content -->
                {% endblock body_container %}
            </div>
            <!-- ./page container -->

            {% block site_footer %}
                {% include "clearwave/footer.html" %}
            {% endblock site_footer %}


        </div>
        <!-- ./page wrapper -->

{% endblock body_base_inner %}


{% block footer %}
{% endblock %}




{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}

{% block forms_container %}

{% endblock forms_container %}

{% block site_scripts %}

    {% block page_scripts %}
    {% endblock page_scripts %}

{% endblock site_scripts %}
