{% extends "products/products_base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block extra_head %}

{% endblock extra_head %}

{% block subpage_breadcrumbs %}
    <li>add product</li>
{% endblock %}

{% block body_container_content %}

<!--
    <div class="tabs">
        <ul class="nav nav-tabs" role="tablist">
        <li><a href="#table-tab">View Products</a> </li>
        <li><a href="#form-tab">Add Product</a></li>
        </ul>

        <div class="panel-body tab-content">
            <div id="table-tab" class="tab-pane">
        -->

 <div class="wrapper wrapper-white">
            <div id="form-tab" class="tab-pane">
                 <form action="{% url 'products:add_product' %}" method="post" class="">
                    {% csrf_token %}
                    <div class="row">
                        {{ form.non_field_errors }}
                        {% for field in form %}
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ field.errors }}
                                    {{ field.label_tag }}

                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <input type="submit" value="Submit" />
              </form>


    </div>






{% endblock body_container_content %}

{% block page_scripts %}

{% endblock page_scripts %}