{% extends "products/products_base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block extra_head %}

{% endblock extra_head %}

{% block subpage_breadcrumbs %}
    <li>add product</li>
{% endblock %}

{% block body_container_content %}

<!--
    <div class="tabs">
        <ul class="nav nav-tabs" role="tablist">
        <li><a href="#table-tab">View Products</a> </li>
        <li><a href="#form-tab">Add Product</a></li>
        </ul>

        <div class="panel-body tab-content">
            <div id="table-tab" class="tab-pane">
        -->



                 <form action="{% url 'products:add_product' %}" method="post" class="">
                      {{ form.non_field_errors }}
                 <div class="wrapper wrapper-white">
                    {% csrf_token %}

                    <div class="row">
                        {% for field in form %}
                            {{ field.errors }}
                            <div class="col-md-4">
                                <div class="form-group">

                                    {{ field.label_tag }}

                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                <input type="submit" value="Submit" />

                </div>
              </form>







{% endblock body_container_content %}

{% block page_scripts %}

{% endblock page_scripts %}