{% extends "products/products_base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block extra_head %}

{% endblock extra_head %}

{% block subpage_breadcrumbs %}
{% endblock %}

{% block body_container_content %}
<!--
    <div class="tabs">
        <ul class="nav nav-tabs" role="tablist">
        <li><a href="#table-tab">View Products</a> </li>
        <li><a href="#form-tab">Add Product</a></li>
        </ul>

        <div class="panel-body tab-content">
            <div id="table-tab" class="tab-pane">
        -->


        <div class="wrapper wrapper-white">
                <div class="table-responsive">
                    <table class="table table-sortable table-hover" id="id_product_data">
                        <thead>
                            <th>Name</th>
                            <th>Category</th>
                        </thead>
                        {% for product in product_list %}
                        <tr  href="#" id="row-popover{{ product.id }}" class="clickable-row product-row" data-placement="bottom">

                                <td style="display:none;">{{ product.id }}</td>
                                <td headers="name">{{ product.name }}</td>
                                <td headers="category">{{ product.category }}</td>

                                <td headers="edit-btn" style="display: block;">
                                    <div style="width:1px;overflow: visible;">
                                        <button headers="edit-btn" class="btn btn-clean btn-primary">Edit Row</button>

                                    </div>
                                </td>
                        </tr>



                        {% endfor %}
                    </table>
                </div>
        </div>



<div class="hide" id="popover_content" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
   <div class="wrapper wrapper-white">

    <p id="actions">Total Actions</p>
    <p id="sales">Total Sales</p>
    <p id="top_customers">Top Customers</p>
    <p id="top_employees">Top Employees</p>

   </div>
</div>







{% endblock body_container_content %}

<form action="{% url 'products:add_product' %}" method="post" class="">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field.label_tag }}

                            {{ field }}
                        </div>
                {% endfor %}
            </div>
        <input type="submit" value="Submit" />
</form>


{% block page_scripts %}
<script>

    $(".product-row").each(function () {
        $(this).popover({
            html: true,
            title: 'Product Stats',
            trigger: 'manual',
            content: function () {
                return $("#popover_content").html();
            }
        });

    });
</script>
<script>
    $(".product-row").on('click', function (e) {
        var cell = e.target
        var header = $(cell).attr("headers");
        console.log(header)
        if ( header != "edit-btn" ) {
            return $(this).popover('toggle');
        };
    });
</script>
{% endblock page_scripts %}


<script>


</script>