{% extends "products/products_base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block extra_head %}

    <style type="text/css">
        body.modal-open {
            overflow: hidden;
        }
        .page-title {
            padding-bottom: 5px;
        }

        .popover-content{
            padding: unset;
        }
        .popover-content .wrapper {
            padding: 10px 20px 20px 15px;
        }
        .tooltip-row{
            white-space: nowrap;
        }
        .panel {
            min-width: 200px;
            max-width: 240px;
            pa
        }
        #detail-panel-wrapper {
            padding: unset;
        }
        #detail-panel {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
        }
        #detail-panel-title {
            line-height: 30px;
        }
        .modal {
            overflow: visible;
        }
        .modal-body {
            overflow-y: visible;
        }
        .dropdown-menu open {
            position: relative;
            z-index: 2000;
            height: 100px;
        }





    </style>


    <script type="text/javascript">
        $(document).ready(function() {
            // check where the shoppingcart-div is
            var offset = $('#detail-box').offset();

            $(window).scroll(function () {
                var scrollTop = $(window).scrollTop(); // check the visible top of the browser

                if (offset.top<scrollTop) $('#detail-box').addClass('fixed');
                else $('#detail-box').removeClass('fixed');
            });
        });
    </script>
{% endblock extra_head %}


{% block subpage_breadcrumbs %}
{% endblock %}


{% block body_container_page-title_extend %}


{% endblock %}

{% block body_container_content %}
    <!--
        <div class="tabs">
            <ul class="nav nav-tabs" role="tablist">
            <li><a href="#table-tab">View Products</a> </li>
            <li><a href="#form-tab">Add Product</a></li>
            </ul>

            <div class="panel-body tab-content">
                <div id="table-tab" class="tab-pane">
            -->


    <div class="modal fade" id="add-product-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;margin-top: 100px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add A Product</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'products:product_list' %}" method="post" class="">
                        {{ form.non_field_errors }}
                        <div class="wrapper wrapper-white">
                            {% csrf_token %}

                            <div class="row">
                                {% for field in form %}
                                    {{ field.errors }}
                                    <div class="col-md-4">
                                        <div class="form-group">

                                            {{ field.label_tag }}

                                            {{ field }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <input type="submit" value="Submit" />

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>






    <div class="wrapper wrapper-white" id="product-table-wrapper">

    <div class="col-md-12">
        <div class="add-product-container">
            <button class="btn btn-primary btn-sm btn-clean pull-right" id="add-product-btn" type="button" data-target="#add-product-modal" data-toggle="modal">Add Product</button>
        </div>

    </div>

        <div class="col-md-3" id="detail-panel-column">
            <div class="wrapper" id="detail-panel-wrapper">
                <div class="panel panel-default" id="detail-panel" data-spy="affix">
                    <div class="panel-heading">
                        <h4 class="panel-title" id="detail-panel-title">Product Detail</h4>
                    </div>
                        <div class="panel-body">
                            <p class="detail-row">Total Actions: <span id="actions"></span></p>
                            <p class="detail-row">Total Sales: <span id="sales"></span></p>
                            <p class="detail-row">Top Customers: <span id="top_customers"><</span></p>
                            <p class="detail-row">Top Employees: <span id="top_employees"></span></p>
                            <div class="row">
                                <button type="button" class="btn btn-primary btn-sm" data-target="#edit-product-modal" data-toggle="modal">Edit Product</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>


        <div class="col-md-9 centered">
            <div class="table-responsive">
                <table class="table table-sortable table-hover table-striped" id="id_product_data">
                    <thead>
                    <th style="display: none;"></th>
                    <th>Name</th>
                    <th>Category</th>
                    </thead>
                    {% for product in product_list %}
                        <tr  href="#" id="product-row{{ product.id }}" class="clickable-row product-row">

                            <td style="display:none;">{{ product.id }}</td>
                            <td headers="name">{{ product.name }}</td>
                            <td headers="category">{{ product.category }}</td>

                        </tr>



                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

<!--
    <div class="hide" id="popover_content" class='popover' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="popover-content">


            <div class="wrapper">

                <div class="product-row-popover-stats">
                    <div class="row">
                        <p class="tooltip-row">Total Actions: <span id="actions"></span></p>
                        <p class="tooltip-row">Total Sales: <span id="sales"></span></p>
                        <p class="tooltip-row">Top Customers: <span id="top_customers"><</span></p>
                        <p class="tooltip-row">Top Employees: <span id="top_employees"></span></p>
                    </div>
                      <div class="row">
                        <button type="button" class="btn btn-primary btn-sm" data-target="#edit-product-modal" data-toggle="modal">Edit Product</button>
                    </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
-->


    <div class="modal fade" id="edit-product-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;margin-top: 100px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Product</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group-one-unit">
                        <form action="{% url 'products:product_list' %}" method="post" class="">
                            {{ form.non_field_errors }}
                            <div class="wrapper wrapper-white" style="padding-left: 15px; padding-right: 15px;padding-top: 0px;">
                                {% csrf_token %}


                                {% for field in form %}
                                    <div class="row">
                                        {{ field.errors }}

                                        <div class="form-group">

                                            {{ field.label_tag }}

                                            {{ field }}
                                        </div>
                                    </div>
                                {% endfor %}


                                <input type="submit" value="Submit" />

                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>








{% endblock body_container_content %}



{% block page_scripts %}
    <script>
        $('.selectpicker').selectpicker({
            dropupAuto: false
        });
        $('.dropdown-menu').css("height", "200px")
    </script>


    <script>

        $(".product-row").each(function () {

            var $this = $(this);
            var rowData = function (e) {
                var nameCell = $this.find('td:nth-child(2)');
                var catCell = $this.find('td:nth-child(3)');
                return {
                    name: nameCell.text(),
                    cat: catCell.text()
                };
            };
            data = rowData();
            namecat = data.name + " (" + data.cat + ")";
            var actions = 4;
            var sales = 2;
            var top_cust = 'John Paul';
            var top_emp = 'Jah Rule';
            $("#actions").text(actions);
            $("#sales").text(sales);
            $("#top_customers").text(top_cust);
            $("#top_employees").text(top_emp);
            //$(this).popover({
            //    html: true,
            //    title: namecat,
            //    trigger: 'manual',
            //    placement: 'left',
            //    content: function () {
            //        return $("#popover_content").html();
            //    }
            //});

        });

//        $(".product-row").on('click', function (e) {
 //           $('.product-row').not(this).each( function(){
  //              $(this).popover('hide');
   //         });
    //        return $(this).popover('toggle');
     //   });
        $(".product-row").on('click', function(){
            var $this = $(this);
            var rowData = function (e) {
                var nameCell = $this.find('td:nth-child(2)');
                var catCell = $this.find('td:nth-child(3)');
                return {
                    name: nameCell.text(),
                    cat: catCell.text()
                };
            };
            data = rowData();
            namecat = data.name + " (" + data.cat + ")";
            var actions = 4;
            var sales = 2;
            var top_cust = 'John Paul';
            var top_emp = 'Jah Rule';
            $("#actions").text(actions);
            $("#sales").text(sales);
            $("#top_customers").text(top_cust);
            $("#top_employees").text(top_emp);
            $("#detail-panel-title").text(namecat)
        });




    </script>




    <script type="text/javascript">
        {% if form_error == 'invalid_form' %}
            $('#add-product-modal').modal('show');
        {% endif %}
    </script>

{% endblock page_scripts %}
