
/* login styling, centering subtitle...*/
.dev-page .dev-page-login-block {
    text-align: center;
}
.dev-page-login-block .login-tagline{
    margin-bottom: 15px ;
}
.dev-page.dev-page-login .dev-page-login-block__logo {
    margin-bottom: 0px;
}

.dev-page .dev-page-login-block__form {
    margin-top: 30px;

}

/* breadcrumbs styling */
.dev-page-breadcrumbs .tld-breadcrumb-li {
    color: #999999;
}


/* Fix sixing of user name in nav bar */
.dev-page .dev-page-header .dph-buttons .dph-user-text {
    line-height: 55px;
    min-width: 70px;
    text-align: center;
}

