<!-- page footer -->
            <div class="dev-page-footer dev-page-footer-fixed"> <!-- dev-page-footer-closed dev-page-footer-fixed -->
                <ul class="dev-page-footer-controls">
                <!--settings button not needed, moved to header
                    <li><a class="tip" title="Settings"><i class="fa fa-cogs"></i></a></li>
               -->
                    <li><a href="#" class="tip" title="Support"><i class="fa fa-life-ring"></i></a></li>
                    <li><a href="{% url "account_logout" %}" name="logoutLinkButton" id="id-logout-LinkButton" class="tip" title="Logoff"><i class="fa fa-power-off"></i></a></li>

                </ul>

                <!-- page footer buttons -->
                      <!--
                <ul class="dev-page-footer-buttons">

                    <li><a href="#footer_content_1" class="dev-page-footer-container-open"><i class="fa fa-database"></i></a></li>
                    <li><a href="#footer_content_2" class="dev-page-footer-container-open"><i class="fa fa-bar-chart"></i></a></li>
                    <li><a href="#footer_content_3" class="dev-page-footer-container-open"><i class="fa fa-server"></i></a></li>
                </ul>
                    -->
                <!-- ./page footer buttons -->
                <!-- page footer container -->
                <div class="dev-page-footer-container">

                    <!-- loader and close button -->
                    <div class="dev-page-footer-container-layer">
                        <a href="#" class="dev-page-footer-container-layer-button"></a>
                    </div>
                    <!-- ./loader and close button -->

                    <!--  informers  -->
                        {% include "clearwave/informers.html" %}
                    <!--  /informers  -->

                    <!-- projects -->
                    <div class="dev-page-footer-container-content" id="footer_content_3">
                        {% block body_base_ %}

                        {% endblock %}
                    </div>
                    <!-- ./projects -->
                </div>
                <!-- ./page footer container -->

                <ul class="dev-page-footer-controls dev-page-footer-controls-auto pull-right">
                <!--no footer pin--
                    <i><a class="dev-page-footer-fix tip" title="Fixed footer"><i class="fa fa-thumb-tack"></i></a></li>
                -->
                <!-- footer collapse toggle -->
                    <li><a class="dev-page-footer-collapse dev-page-footer-control-stuck"><i class="fa fa-dot-circle-o"></i></a></li>
                </ul>
            </div>
<!-- ./page footer -->