{% load account_tags %}
{% load i18n %}
{% load admin_urls %}

<!-- page header -->
            <div class="dev-page-header">

                <div class="dph-logo">
                    <a href="{% url 'home' %}">{{ com }}</a>

                </div>

                <ul class="dph-buttons pull-right">
                    {% if request.user.is_authenticated %}
                        <li class="dph-user-text">
                            <i class="fa fa-user"></i> {% user_display request.user %}
                        </li>
                        <li >
                            <a href="{% url 'account_settings' %}"><i class="fa fa-cog"></i> {% trans "Account" %}</a>
                        </li>

                        {% if request.user.is_superuser %}
                            <li>
                                <a href="{% url 'admin:index' %}"><i class="fa fa-cogs"></i> {% trans "Administration" %}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            {% block navbar %}
                {% include "clearwave/navigation.html" %}
                {% block navbar_extend %}
                {% endblock navbar_extend %}
            {% endblock navbar %}

            </div>
<!-- ./page header -->