<ul class="dev-page-navigation">
    <li>
        <a href={% url 'home' %}>Dashboard</a>
    </li>
    <li>
        <a href="#">Client Management</a>
        <ul>
            <li>
                <a href="{% url 'clients:clients_index' %}">Client Info</a>
            </li>
            <li>
                <a href="#">Interactions</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Employees</a>
    </li>
    <li>
        <a href="{% url 'products:product_list' %}">Products</a>

    </li>
    <li>

        <a href="#">Multi-Level Example</a>
        <ul>
            <li><a href="#">Second Level</a></li>
            <li>
                <a href="#">Second Level</a>
                <ul>
                    <li><a href="#">Third Level</a></li>
                    <li><a href="#">Third Level</a></li>
                    <li><a href="#">Third Level</a></li>
                </ul>
            </li>
            <li><a href="#">Second Level</a></li>
        </ul>
    </li>
</ul>